[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/saschaschworm/big-data-and-data-science/blob/master/notebooks/demos/taxi-passengers-low-pass-filter.ipynb)

In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/saschaschworm/big-data-and-data-science/master/datasets/demos/taxi-passengers.csv')
data['date'] = pd.to_datetime(data['date'], format='%Y-%m-%d')
data.index = data['date']

In [3]:
data['mean3d'] = data['passengers'].rolling(3).mean()
data['mean5d'] = data['passengers'].rolling(5).mean()
data['mean10d'] = data['passengers'].rolling(10).mean()
data['std10dmean'] = data['passengers'].rolling(10).std()

In [4]:
upper_threshold = data['mean10d'] + 2 * data['std10dmean']
lower_threshold = data['mean10d'] - 2 * data['std10dmean']
anomalies = data[
    (data['passengers'] > upper_threshold) | 
    (data['passengers'] < lower_threshold)
]

In [5]:
anomalies

,date,passengers,mean3d,mean5d,mean10d,std10dmean
date,,,,,,
2014-07-28,2014-07-28,605561,705146.333333,734735.4,736687.4,63543.983931
2014-11-01,2014-11-01,986568,867704.333333,813265.2,799916.4,88075.137056
2014-11-27,2014-11-27,523184,638982.333333,661608.2,727827.2,99926.853504
2014-12-25,2014-12-25,379302,541696.000000,599803.0,699059.8,142964.452761
2015-01-10,2015-01-10,892664,794973.000000,744762.2,690889.0,95758.066473
2015-01-26,2015-01-26,375311,622690.333333,677959.0,690145.0,132567.834680
2015-01-27,2015-01-27,232058,433877.000000,576495.4,630455.1,186522.016493