[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/saschaschworm/big-data-and-data-science/blob/master/notebooks/demos/transactions-lof.ipynb)

In [1]:
import pandas as pd
from sklearn.neighbors import LocalOutlierFactor

In [2]:
data = pd.read_csv('https://raw.githubusercontent.com/saschaschworm/big-data-and-data-science/master/datasets/demos/transactions.csv')

In [3]:
lof = LocalOutlierFactor(n_neighbors=20, contamination='auto')
prediction = lof.fit_predict(data[['transactions', 'amount']])
scores = lof.negative_outlier_factor_

In [4]:
data[scores < -1.1]

          date  transactions  amount
6   2017-07-31            24     672
17  2018-06-30             1    3000